<h1>{{title}}</h1>
  {{#if isEditing}}
  <form>
    <div class="form-group">
      <label for="title">Question</label>
      {{input id="title" class="form-control" value=title}}
    </div>
     <div class="form-group">
      <label for="title">Author</label>
      {{input id="title" class="form-control" value=author}}
    </div>

    <div class="form-group">
      <label for="body">Body</label>
      {{textarea id="body" class="form-control" rows="15" value=body}}
    </div>

    <button class="btn btn-primary" {{action 'save'}}>Save</button>
  </form>


  {{else}}

      <p>{{body}}</p>
      <button class='btn btn-primary' {{action 'edit'}}>Edit Question</button>
      <button class="btn btn-danger" {{action 'delete'}}>Delete Question</button>
  {{/if}}


  <h2>Answers</h2>
  {{#each answers}}
  <p>{{text}}</p>

  {{/each}}

  <p>{{#link-to 'new-answer' this.id class="btn btn-block"}}New Answer{{/link-to}}</p>

  {{outlet}}